*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
}

body{
    max-height: 100vh;
    font-family: 'poppins';
    color: black;
}

#temp-icon{
    width: 100px;
    height: 100px;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#temp{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#temp #temp-value{
    font-size: 7rem;
}

.search-btn{
    border: none;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 1.5rem;
    padding-right: 5px;
    padding-left: 5px;
    
}

.form-container{
    position: absolute;
    top:0px;
    background-color: rgb(234, 110, 75);
    width: 100vw;
    height: 3rem;
}


#form-input{
    border: none;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: 'poppins';
    padding-left: 5px;
    height: 1.5rem;

}

#form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 80rem;
    margin-top: 0.75rem;
}

#location{
    font-size: 2rem;
}

.loc-climate{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items:flex-start ;
}

.weather-info-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#climate{
    color: #a1a1a1;
}

